openapi: 3.0.3
info:
  title: 꾹(GGUK) API
  version: 0.1.0-draft
  description: |
    꾹 MVP API 초안. `docs/prd.md` 8장(API 설계 초안)을 OpenAPI로 옮긴 것으로,
    요청/응답 스키마·에러 코드 값은 각 피쳐 PR에서 확정한다.

    - 성공 응답은 공통 인터셉터가 `{ "data": ... }`로 감싼다. 반환할 데이터가 없는 성공은
      본문 없는 204 대신 `{ "data": { "ok": true } }`를 반환한다.
    - 에러 응답은 공통 예외 필터의 `{ "errorCode", "message" }` 포맷을 따른다.
    - 목록 API 페이지네이션은 **offset 기반**으로 통일한다: `page`(0부터 시작)·`pageSize` 쿼리 파라미터,
      응답에 `pagination { pageSize, page, hasNext }` 객체 포함. (지도용 핀 전체 조회만 예외)
    - 인증은 별도 인증 설계 문서에서 확정한다(잠정: Bearer 토큰). 인증 예외는
      `POST /api/v1/users`와 `GET /api/v1/invitations/{code}` 뿐이다.
    - 제목에 **[TBD]** 가 붙은 API는 기획 변경이 진행 중이라 계약이 잠정이다.

servers:
  - url: https://api.gguk.org
    description: production
  - url: http://localhost:3000
    description: local

security:
  - bearerAuth: []

tags:
  - name: User
    description: 유저 등록·프로필 ([001] 온보딩, [007] 마이페이지)
  - name: Room
    description: 방 생성·조회·편집·나가기 ([001], [003], [004])
  - name: Invitation
    description: 초대 미리보기·방 합류
  - name: LinkAnalysis
    description: 링크 분석 (비동기) ([000] 공유 유입 — TBD)
  - name: Pin
    description: 핀 조회·복제·접근 기록 ([002], [004], [005])
  - name: Comment
    description: 핀 코멘트 ([005] 장소 상세)
  - name: Notification
    description: 알림함 ([006] — TBD)

paths:
  /api/v1/users:
    post:
      tags: [User]
      summary: 유저 등록 (+ 개인방 자동 생성)
      description: |
        `device_id` 기반 유저 등록. 개인방("내 방", `type: personal`) 생성이 같은 흐름에서 함께 처리된다.
        등록·인증 계약(토큰 발급, 재등록 처리 등)은 별도 인증 설계 문서에서 확정한다.
        개인방 색상 정책은 미결(프디팀 결정 대기).
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [deviceId, nickname]
              properties:
                deviceId:
                  type: string
                nickname:
                  $ref: "#/components/schemas/Nickname"
                avatar:
                  $ref: "#/components/schemas/Avatar"
      responses:
        "201":
          description: 등록 완료. 개인방은 함께 생성되지만 응답에는 포함하지 않는다.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/User"
        "409":
          $ref: "#/components/responses/Conflict"

  /api/v1/users/me:
    get:
      tags: [User]
      summary: 내 프로필 조회
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/User"
        "401":
          $ref: "#/components/responses/Unauthorized"
    patch:
      tags: [User]
      summary: 프로필 수정
      description: 닉네임(공백 포함 한글/영문 2~15자, 특수문자 불가)·아바타 수정. 공통 프로필이라 모든 방에 즉시 반영된다.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                nickname:
                  $ref: "#/components/schemas/Nickname"
                avatar:
                  $ref: "#/components/schemas/Avatar"
      responses:
        "200":
          description: 수정된 프로필
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/User"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /api/v1/users/me/push-token:
    put:
      tags: [User]
      summary: 디바이스 푸시 토큰 등록·갱신
      description: FCM/APNs 발송 대상 토큰. 알림 기획(TBD) 확정에 따라 계약이 조정될 수 있다.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [token]
              properties:
                token:
                  type: string
                platform:
                  type: string
                  enum: [ios, android]
      responses:
        "200":
          description: 등록/갱신 완료
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OkResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /api/v1/rooms:
    post:
      tags: [Room]
      summary: 공동방 생성
      description: 생성자가 방장(`owner_id`)이 된다. 초대 코드는 `invitations`가 별도로 관리한다.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name, color]
              properties:
                name:
                  type: string
                  maxLength: 15
                  description: 최소 제한 없음·최대 15자·중복 허용·앞뒤 공백 제거 (PR 리뷰 확정)
                description:
                  type: string
                  maxLength: 20
                  nullable: true
                color:
                  type: string
                  description: '팔레트 5색 중 하나의 hex 값 (예: "#FF6B6B")'
      responses:
        "201":
          description: 생성된 방
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/Room"
        "401":
          $ref: "#/components/responses/Unauthorized"
    get:
      tags: [Room]
      summary: 내가 속한 방 목록
      description: 나간 방(멤버십 soft delete)은 제외한다. 공동방 생성 유도 바텀시트용 보유 이력 판별에도 쓰인다.
      parameters:
        - name: showHasPlaceId
          in: query
          required: false
          schema:
            type: string
            format: uuid
          description: 지정 시 각 방에 해당 장소(placeId)가 이미 저장되어 있는지(`hasPlace`)를 함께 반환 — "다른 방에 공유" 화면용
        - name: showUsers
          in: query
          required: false
          schema:
            type: boolean
          description: true면 각 방의 멤버 목록(`users`)을 함께 반환
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/RoomSummary"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /api/v1/rooms/{roomId}:
    parameters:
      - $ref: "#/components/parameters/RoomId"
    get:
      tags: [Room]
      summary: 방 상세 조회
      description: |
        방 정보 + 핀 수·멤버 수 메타. 요청 유저의 멤버십을 검증한다.
        핀 목록은 포함하지 않는다 — `GET /api/v1/pins?roomId=`로 별도 조회한다.
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/RoomDetail"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
    patch:
      tags: [Room]
      summary: 방 편집
      description: 이름·설명·색상 수정. **방장만** 가능.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  maxLength: 15
                description:
                  type: string
                  maxLength: 20
                  nullable: true
                color:
                  type: string
      responses:
        "200":
          description: 수정된 방
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/Room"
        "403":
          $ref: "#/components/responses/Forbidden"

  /api/v1/rooms/{roomId}/owner:
    put:
      tags: [Room]
      summary: 방장 위임
      description: '**방장만** 가능. 위임 대상은 해당 방의 활성 멤버여야 한다. 방장이 방을 나가려면 이 API로 먼저 위임을 완료해야 한다.'
      parameters:
        - $ref: "#/components/parameters/RoomId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [nextOwnerId]
              properties:
                nextOwnerId:
                  type: string
                  format: uuid
      responses:
        "200":
          description: 위임 완료
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OkResponse"
        "403":
          $ref: "#/components/responses/Forbidden"

  /api/v1/rooms/{roomId}/members/me:
    delete:
      tags: [Room]
      summary: 방 나가기
      description: |
        멤버십 soft delete. 파라미터 없이 요청하며, 서버가 요청 유저의 상태를 검증해 분기한다.
        - 일반 멤버: 나가기 처리.
        - **방장 + 다른 멤버 존재: 에러로 거절** — 먼저 방장 위임(`PUT /rooms/{roomId}/owner`)을 완료해야 한다. (errorCode 예: `OWNER_TRANSFER_REQUIRED`)
        - **방장 + 마지막 멤버: 나가기를 허용하고 방을 삭제(soft delete) 처리한다.** (PR 리뷰 확정)
        - 개인방은 나가기 대상이 아니다.
      parameters:
        - $ref: "#/components/parameters/RoomId"
      responses:
        "200":
          description: 나가기 완료
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OkResponse"
        "403":
          $ref: "#/components/responses/Forbidden"
        "409":
          description: 방장이 위임 없이 나가기를 요청함 — 위임 후 재시도 필요
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /api/v1/rooms/{roomId}/invitations:
    parameters:
      - $ref: "#/components/parameters/RoomId"
    post:
      tags: [Invitation]
      summary: 내 초대 링크 발급
      description: |
        **초대는 멤버당 1개다.** 이미 발급했다면 같은 `code`를 돌려준다(멱등).
        만료·재발급·거절이 없으므로 링크는 계속 유효하다.
        미리보기에 "OO님이 초대했어요"로 표시되는 초대자가 곧 이 API를 호출한 멤버다.

        클라이언트가 `gguk.org/r/{code}` 형태로 링크를 조립한다. 서버는 도메인을 알지 않는다.
        **개인방은 초대할 수 없다.**
      responses:
        "200":
          description: 초대 코드 (기존 초대가 있으면 같은 값)
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      code:
                        type: string
                        minLength: 6
                        maxLength: 6
                        pattern: "^[A-Z0-9]{6}$"
                        example: "K7Q2MZ"
                        description: 초대 링크 gguk.org/r/{code}의 code (대문자 영문 + 숫자 6자 고정)
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

  /api/v1/invitations/{code}:
    get:
      tags: [Invitation]
      summary: 초대 코드로 방 미리보기
      description: |
        **인증 불필요** (앱 설치 전/온보딩 전 진입). 초대 링크(`gguk.org/r/{code}`)의 code로 조회한다.
        응답의 `room.id`가 합류 API의 path `roomId`를 얻는 유일한 경로다 (PR 리뷰 확정).
        초대 링크 유효기간은 무제한이며 거절 개념이 없다. **개인방 코드는 거절한다.**
      security: []
      parameters:
        - name: code
          in: path
          required: true
          schema:
            type: string
            minLength: 6
            maxLength: 6
            pattern: "^[A-Z0-9]{6}$"
            example: "K7Q2MZ"
      responses:
        "200":
          description: 방 미리보기 (노출 정보 최소화)
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/InvitationPreview"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

  /api/v1/rooms/{roomId}/members:
    parameters:
      - $ref: "#/components/parameters/RoomId"
    post:
      tags: [Invitation]
      summary: 방 합류
      description: |
        body의 `inviteCode`로 `invitations`에서 활성 초대를 찾고, 그 초대의 방이 path의 `{roomId}`와
        같은지 검증한다. 불일치·무효 코드는 멤버 추가 전에 거절한다.
        **개인방의 코드는 거절한다.** 이미 멤버면 오류 대신 멱등 응답을 준다.
        나갔던 방에는 같은 코드로 다시 합류할 수 있다(이전 멤버십 행은 `deleted_at`을 유지).

        합류 완료 시 방 멤버 전원에게 푸시 알림을 발송한다. (PR 리뷰 확정)
        **푸시 발송은 미구현이다.** FCM/APNs 인프라가 도입되면 연결한다.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [inviteCode]
              properties:
                inviteCode:
                  type: string
                  maxLength: 16
      responses:
        "200":
          description: 합류 완료(또는 이미 멤버 — 멱등)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OkResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
    get:
      tags: [Room]
      summary: 방 멤버 목록
      description: 방장 위임 대상 선택 모달용. 요청 유저의 멤버십을 검증한다.
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/RoomMember"
        "403":
          $ref: "#/components/responses/Forbidden"

  /api/v1/rooms/{roomId}/pins:
    post:
      tags: [LinkAnalysis]
      summary: "[TBD] 링크로 핀 생성 요청 (링크 분석, 비동기 접수)"
      description: |
        **TBD — 링크 분석 계약은 기획/설계 변경 여지가 있어 잠정이다.**
        공유/붙여넣기된 링크를 접수해 방에 핀을 생성하는 비동기 요청. 잡 생성 전에 `roomId`에 대한 요청 유저의 멤버십을 검증한다.
        서버는 `sources` 등록과 분석 잡 생성까지만 동기로 수행하고 즉시 응답한다.
        **별도 상태 조회 API는 없다** — 처리 결과는 푸시(중복·실패)와 알림함으로 안내한다.
        백그라운드 처리는 Cloud Tasks 워커(내부 전용 엔드포인트, 외부 비공개·스펙 비공개)가 수행한다.
        MVP 지원 출처는 인스타그램 링크뿐이며 그 외 URL은 명시적으로 거절한다.
        한 게시물에서 장소가 여러 개 추출되는 경우의 처리(핀 N개·부분 성공·푸시 횟수)는 미결 — 확정 후 계약에 반영.
      parameters:
        - $ref: "#/components/parameters/RoomId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [url]
              properties:
                url:
                  type: string
                  format: uri
                  description: 인스타그램 게시물 URL만 허용
      responses:
        "202":
          description: 접수됨
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OkResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"

  /api/v1/rooms/{roomId}/cards:
    get:
      tags: [Pin]
      summary: "[TBD] 홈 카드 피드 조회"
      description: |
        **TBD — 홈 카드 큐레이션 기획 변경 진행 중.** 라벨 그룹 4종(클릭수/코멘트수/중복 저장/오래된 랜덤)
        큐레이션이 후보로 등장했으나 확정 전이라 파라미터·응답 구성은 잠정이다.
        확정분: 카드 10개 노출, 재생성 시 사용자별 접근 기록으로 이미 본 카드 제외, 개인별 큐레이션.
      parameters:
        - $ref: "#/components/parameters/RoomId"
      responses:
        "200":
          description: 카드 10개 (잠정)
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    maxItems: 10
                    items:
                      $ref: "#/components/schemas/Card"
        "403":
          $ref: "#/components/responses/Forbidden"

  /api/v1/pins:
    get:
      tags: [Pin]
      summary: 핀 목록 조회
      description: |
        `roomId`의 핀 목록(좌표 포함). 요청 유저의 해당 방 멤버십을 검증한다.
        **`page`/`pageSize` 미지정 시 전체를 반환한다** — 지도 전체 보기는 페이지네이션 구분이 애매해 전체 조회를 보장한다(성능 저하 확인 시 리팩토링, PR 리뷰 확정). 리스트 뷰 등에서는 offset 기반 페이지네이션한다.
        정렬/필터(5종)·카드형/리스트형 뷰는 기획 TBD — 확정 후 파라미터를 추가한다.
      parameters:
        - name: roomId
          in: query
          required: true
          schema:
            type: string
            format: uuid
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/PageSize"
      responses:
        "200":
          description: OK. 전체 조회 시 `pagination`은 생략한다
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/Pin"
                  pagination:
                    $ref: "#/components/schemas/Pagination"
        "403":
          $ref: "#/components/responses/Forbidden"

  /api/v1/pins/{pinId}:
    get:
      tags: [Pin]
      summary: 장소(핀) 상세 조회
      description: 장소 정보(places 컬럼 전체) + 출처 링크 + 저장한 멤버 프로필. 핀이 속한 방의 멤버만 조회할 수 있다.
      parameters:
        - $ref: "#/components/parameters/PinId"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/PinDetail"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

  /api/v1/pins/{pinId}/duplicate:
    post:
      tags: [Pin]
      summary: 다른 방에 핀 복제 ("다른 방에 공유")
      description: |
        원본 핀의 장소를 대상 방들에 복제한다. 신규 저장 경로가 아니다(신규 저장은 링크 분석 잡이 처리).
        원본 핀의 방과 **모든 대상 방**의 멤버십을 검증한다.
        **대상 방 중 하나라도 같은 장소가 이미 저장돼 있으면 `409`로 전체 거절한다.**
      parameters:
        - $ref: "#/components/parameters/PinId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [roomIds]
              properties:
                roomIds:
                  type: array
                  minItems: 1
                  items:
                    type: string
                    format: uuid
                  description: 복제 대상 방 목록
      responses:
        "200":
          description: 복제 완료
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OkResponse"
        "403":
          $ref: "#/components/responses/Forbidden"
        "409":
          description: 대상 방 중 하나 이상에 같은 장소가 이미 저장됨 — 전체 거절
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /api/v1/pins/{pinId}/accesses:
    post:
      tags: [Pin]
      summary: 핀 접근 기록 (사용자별)
      description: |
        카드 탐색/장소 상세 진입 시 요청 유저 기준으로 접근 행을 남긴다.
        개인별 큐레이션의 재생성 제외 조건이자 "친구들이 많이 본 곳"(클릭수) 집계의 원천 데이터다.
      parameters:
        - $ref: "#/components/parameters/PinId"
      responses:
        "200":
          description: 기록 완료
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OkResponse"
        "403":
          $ref: "#/components/responses/Forbidden"

  /api/v1/pins/{pinId}/comments:
    parameters:
      - $ref: "#/components/parameters/PinId"
    get:
      tags: [Comment]
      summary: 코멘트 목록 조회
      description: |
        활성 방 멤버만 조회할 수 있다. `page=0`은 최신 코멘트 묶음이며,
        각 페이지 안에서는 오래된 코멘트부터 반환한다. 다음 페이지는 더 오래된 묶음이다.
        오류 코드는 `400 VALIDATION_ERROR`, `401 UNIDENTIFIED_USER`,
        `403 NOT_ROOM_MEMBER`, `404 PIN_NOT_FOUND`다.
      parameters:
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/PageSize"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    type: object
                    required: [comments, pagination]
                    properties:
                      comments:
                        type: array
                        items:
                          $ref: "#/components/schemas/Comment"
                      pagination:
                        $ref: "#/components/schemas/Pagination"
        "400":
          $ref: "#/components/responses/CommentValidationError"
        "401":
          $ref: "#/components/responses/CommentUnidentifiedUser"
        "403":
          $ref: "#/components/responses/CommentNotRoomMember"
        "404":
          $ref: "#/components/responses/CommentPinNotFound"
    post:
      tags: [Comment]
      summary: 코멘트 작성
      description: |
        활성 방 멤버만 작성할 수 있다. 앞뒤 공백을 제거한 본문은 1~500자여야 하며,
        중복 본문은 허용한다. 수정(PATCH)은 MVP 미지원으로 삭제 후 재작성한다.
        오류 코드는 `400 VALIDATION_ERROR`, `401 UNIDENTIFIED_USER`,
        `403 NOT_ROOM_MEMBER`, `404 PIN_NOT_FOUND`다.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [content]
              properties:
                content:
                  type: string
                  description: 앞뒤 공백 제거 후 1~500자
      responses:
        "201":
          description: 작성된 코멘트
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    $ref: "#/components/schemas/Comment"
        "400":
          $ref: "#/components/responses/CommentValidationError"
        "401":
          $ref: "#/components/responses/CommentUnidentifiedUser"
        "403":
          $ref: "#/components/responses/CommentNotRoomMember"
        "404":
          $ref: "#/components/responses/CommentPinNotFound"

  /api/v1/pins/{pinId}/comments/{commentId}:
    delete:
      tags: [Comment]
      summary: 코멘트 삭제
      description: |
        활성 방 멤버 중 **작성자 본인만** 삭제할 수 있다. soft delete로 처리하며,
        이미 삭제됐거나 다른 핀에 속한 코멘트는 `COMMENT_NOT_FOUND`를 반환한다.
        오류 코드는 `400 VALIDATION_ERROR`, `401 UNIDENTIFIED_USER`,
        `403 NOT_ROOM_MEMBER` 또는 `COMMENT_DELETE_FORBIDDEN`,
        `404 PIN_NOT_FOUND` 또는 `COMMENT_NOT_FOUND`다.
      parameters:
        - $ref: "#/components/parameters/PinId"
        - name: commentId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: 삭제 완료
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OkResponse"
        "400":
          $ref: "#/components/responses/CommentValidationError"
        "401":
          $ref: "#/components/responses/CommentUnidentifiedUser"
        "403":
          $ref: "#/components/responses/CommentDeleteForbidden"
        "404":
          $ref: "#/components/responses/CommentDeleteNotFound"

  /api/v1/notifications:
    get:
      tags: [Notification]
      summary: "[TBD] 알림 목록 조회"
      description: |
        **TBD — 알림 종류·알림함 구성이 프디팀 정리 중이라 계약이 잠정이다.**
        (예시 후보: 저장 중복 / 오류 / 친구 합류 / 친구 방 나가기 / 방장 위임)
        확정분: 푸시는 중복·실패·초대 합류 시 발송, 중복 저장 알림은 기존 핀 참조(`roomId`·`pinId`·`placeId`·최초 저장 시각)를
        담아 딥링크로 이동시킨다. offset 기반 페이지네이션.
      parameters:
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/PageSize"
      responses:
        "200":
          description: 알림 목록 (잠정)
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/Notification"
                  pagination:
                    $ref: "#/components/schemas/Pagination"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /api/v1/notifications/reads:
    post:
      tags: [Notification]
      summary: "[TBD] 알림 읽음 처리"
      description: '**TBD — 알림 기획 확정 전 잠정 계약.** 개별 id 목록 또는 전체 읽음 처리.'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                notificationIds:
                  type: array
                  items:
                    type: string
                    format: uuid
                  description: 생략(또는 빈 배열 + all=true) 시 전체 읽음 — 상세 PR에서 확정
                all:
                  type: boolean
      responses:
        "200":
          description: 읽음 처리 완료
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OkResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: 잠정. 인증 방식은 별도 인증 설계 문서에서 확정한다.

  parameters:
    RoomId:
      name: roomId
      in: path
      required: true
      schema:
        type: string
        format: uuid
    PinId:
      name: pinId
      in: path
      required: true
      schema:
        type: string
        format: uuid
    Page:
      name: page
      in: query
      required: false
      schema:
        type: integer
        minimum: 0
        default: 0
      description: 페이지 번호 (0부터 시작)
    PageSize:
      name: pageSize
      in: query
      required: false
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 20
      description: 페이지 크기

  responses:
    CommentValidationError:
      description: 입력 검증 실패 (`VALIDATION_ERROR`)
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/CommentValidationError"
    CommentUnidentifiedUser:
      description: 유저 식별 실패 (`UNIDENTIFIED_USER`)
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/CommentUnidentifiedUser"
    CommentNotRoomMember:
      description: 활성 방 멤버 아님 (`NOT_ROOM_MEMBER`)
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/CommentNotRoomMember"
    CommentPinNotFound:
      description: 핀 또는 핀의 방 없음 (`PIN_NOT_FOUND`)
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/CommentPinNotFound"
    CommentDeleteForbidden:
      description: 방 멤버가 아니거나 작성자가 아님 (`NOT_ROOM_MEMBER`, `COMMENT_DELETE_FORBIDDEN`)
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/CommentDeleteForbidden"
    CommentDeleteNotFound:
      description: 핀 또는 코멘트 없음 (`PIN_NOT_FOUND`, `COMMENT_NOT_FOUND`)
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/CommentDeleteNotFound"
    BadRequest:
      description: 잘못된 요청
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    Unauthorized:
      description: 인증 실패
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    Forbidden:
      description: 권한 없음 (멤버십/방장/작성자 검증 실패)
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    NotFound:
      description: 대상 없음
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    Conflict:
      description: 충돌 (중복 등록 등)
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"

  schemas:
    CommentValidationError:
      type: object
      required: [errorCode, message]
      properties:
        errorCode:
          type: string
          enum: [VALIDATION_ERROR]
        message:
          type: string
    CommentUnidentifiedUser:
      type: object
      required: [errorCode, message]
      properties:
        errorCode:
          type: string
          enum: [UNIDENTIFIED_USER]
        message:
          type: string
    CommentNotRoomMember:
      type: object
      required: [errorCode, message]
      properties:
        errorCode:
          type: string
          enum: [NOT_ROOM_MEMBER]
        message:
          type: string
    CommentPinNotFound:
      type: object
      required: [errorCode, message]
      properties:
        errorCode:
          type: string
          enum: [PIN_NOT_FOUND]
        message:
          type: string
    CommentDeleteForbidden:
      type: object
      required: [errorCode, message]
      properties:
        errorCode:
          type: string
          enum: [NOT_ROOM_MEMBER, COMMENT_DELETE_FORBIDDEN]
        message:
          type: string
    CommentDeleteNotFound:
      type: object
      required: [errorCode, message]
      properties:
        errorCode:
          type: string
          enum: [PIN_NOT_FOUND, COMMENT_NOT_FOUND]
        message:
          type: string
    Error:
      type: object
      required: [errorCode, message]
      properties:
        errorCode:
          type: string
          example: FORBIDDEN
        message:
          type: string

    OkResponse:
      type: object
      description: 본문 데이터가 없는 성공 응답의 공통 포맷
      properties:
        data:
          type: object
          required: [ok]
          properties:
            ok:
              type: boolean
              example: true

    Pagination:
      type: object
      description: 목록 API 공통 페이지네이션 메타 (offset 기반)
      required: [pageSize, page, hasNext]
      properties:
        pageSize:
          type: integer
          example: 20
        page:
          type: integer
          description: 0부터 시작
          example: 0
        hasNext:
          type: boolean

    Nickname:
      type: string
      minLength: 2
      maxLength: 15
      description: 공백 포함 한글/영문 2~15자, 특수문자 불가 (PR 리뷰 확정)

    Avatar:
      type: object
      description: 프로필 아바타. id 참조 방식으로 저장하며, 추후 url·color·sunglass 등 필드 확장 가능
      required: [id]
      properties:
        id:
          type: integer

    User:
      type: object
      properties:
        id:
          type: string
          format: uuid
        nickname:
          $ref: "#/components/schemas/Nickname"
        avatar:
          $ref: "#/components/schemas/Avatar"
        createdAt:
          type: string
          format: date-time

    Room:
      type: object
      properties:
        id:
          type: string
          format: uuid
        type:
          type: string
          enum: [personal, shared]
        name:
          type: string
          maxLength: 15
        description:
          type: string
          maxLength: 20
          nullable: true
        color:
          type: string
          description: 'hex 값 (예: "#FF6B6B")'
        ownerId:
          type: string
          format: uuid
        createdAt:
          type: string
          format: date-time

    RoomSummary:
      allOf:
        - $ref: "#/components/schemas/Room"
        - type: object
          properties:
            pinCount:
              type: integer
            memberCount:
              type: integer
            hasPlace:
              type: boolean
              nullable: true
              description: '`?showHasPlaceId=` 지정 시에만 포함 — 해당 장소가 이 방에 이미 저장돼 있는지'
            users:
              type: array
              nullable: true
              description: '`?showUsers=true` 지정 시에만 포함 — 방 멤버 목록'
              items:
                $ref: "#/components/schemas/RoomMember"

    RoomDetail:
      allOf:
        - $ref: "#/components/schemas/Room"
        - type: object
          properties:
            pinCount:
              type: integer
            memberCount:
              type: integer

    RoomMember:
      type: object
      properties:
        userId:
          type: string
          format: uuid
        nickname:
          $ref: "#/components/schemas/Nickname"
        avatar:
          $ref: "#/components/schemas/Avatar"
        isOwner:
          type: boolean
        joinedAt:
          type: string
          format: date-time

    InvitationPreview:
      type: object
      description: |
        인증 없이 노출되므로 정보 최소화. `room.id`는 합류 API 호출에 필요 (PR 리뷰 확정).
        초대자는 invitations.invited_by에서 조회한다. 링크를 공유한 멤버가 그대로 표시된다.

        엔티티 단위로 묶어 클라이언트가 Room/User 타입을 그대로 재사용할 수 있게 한다.

        현재 구현과의 차이: 팔레트 색상 객체가 아직 스키마에 없어 `color`는 hex 문자열을 반환한다.
      properties:
        room:
          type: object
          properties:
            id:
              type: string
              format: uuid
            type:
              type: string
              enum: [personal, shared]
            name:
              type: string
            description:
              type: string
              nullable: true
              description: 방 설명
            color:
              type: object
              description: 팔레트 색상 객체 (avatar와 같은 id 참조 구조)
              required: [id]
              properties:
                id:
                  type: integer
            pinCount:
              type: integer
              description: 방에 저장된 장소 수. "999+" 같은 절삭 표기는 클라이언트가 담당한다
            memberCount:
              type: integer
              description: 방의 활성 멤버 수
            members:
              type: array
              description: 겹쳐 보여줄 멤버 아바타. 인증 없이 열리는 응답이라 최대 5명까지만 내려간다
              items:
                type: object
                properties:
                  avatar:
                    $ref: "#/components/schemas/Avatar"
        inviter:
          type: object
          description: 초대를 만든 멤버 (invitations.invited_by)
          properties:
            nickname:
              $ref: "#/components/schemas/Nickname"
            avatar:
              $ref: "#/components/schemas/Avatar"
    Place:
      type: object
      description: places 테이블 컬럼을 전부 내려준다. 단 images는 제외 — pins로 이동 예정(DB 변경)
      properties:
        id:
          type: string
          format: uuid
        provider:
          type: string
          enum: [kakao, google]
        providerPlaceId:
          type: string
        name:
          type: string
        address:
          type: string
        city:
          type: string
          nullable: true
        district:
          type: string
          nullable: true
        lat:
          type: number
        lng:
          type: number
        category:
          type: string
          nullable: true
          description: provider별 카테고리 정규화 규칙 정의 예정
        phone:
          type: string
          nullable: true
        mapUrl:
          type: string
          nullable: true
          description: 외부 지도 상세 URL (스키마 컬럼 `external_url` → `map_url` 변경 예정)
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    Pin:
      type: object
      properties:
        id:
          type: string
          format: uuid
        roomId:
          type: string
          format: uuid
        place:
          $ref: "#/components/schemas/Place"
        images:
          type: array
          description: 게시물 이미지 — places.images가 pins로 이동 예정(DB 변경)
          items:
            type: string
            format: uri
        createdBy:
          type: object
          nullable: true
          description: 핀을 저장한 멤버의 프로필 ("누가 추가한 곳" 표시용)
          properties:
            userId:
              type: string
              format: uuid
            nickname:
              $ref: "#/components/schemas/Nickname"
            avatar:
              $ref: "#/components/schemas/Avatar"
        createdAt:
          type: string
          format: date-time

    PinDetail:
      allOf:
        - $ref: "#/components/schemas/Pin"
        - type: object
          properties:
            sourceUrl:
              type: string
              format: uri
              nullable: true
              description: 출처 링크 (sources.original_url, 단일)

    Comment:
      type: object
      required: [id, content, createdAt, author, canDelete]
      properties:
        id:
          type: string
          format: uuid
        author:
          type: object
          required: [id, nickname, avatar]
          properties:
            id:
              type: string
              format: uuid
            nickname:
              $ref: "#/components/schemas/Nickname"
            avatar:
              type: object
              nullable: true
              required: [id]
              properties:
                id:
                  type: integer
        content:
          type: string
          minLength: 1
          maxLength: 500
        createdAt:
          type: string
          format: date-time
          description: UTC ISO 8601
        canDelete:
          type: boolean

    Card:
      type: object
      description: 홈 카드 (TBD — 큐레이션 확정 후 라벨 그룹 등 필드 확정)
      properties:
        pin:
          $ref: "#/components/schemas/Pin"

    Notification:
      type: object
      description: TBD — 유형 목록은 프디팀 정리 후 확정
      properties:
        id:
          type: string
          format: uuid
        type:
          type: string
          description: '후보: duplicate_save / error / member_joined / member_left / owner_transferred'
        payload:
          type: object
          description: 중복 저장 알림은 기존 핀의 roomId·pinId·placeId·최초 저장 시각 포함 (딥링크 조립용)
        readAt:
          type: string
          format: date-time
          nullable: true
        createdAt:
          type: string
          format: date-time
