openapi: 3.0.3
info:
  title: 꾹(GGUK) API
  version: 0.1.0-draft
  description: |
    꾹 MVP API 초안. `docs/prd.md` 8장(API 설계 초안)을 OpenAPI로 옮긴 것으로,
    요청/응답 스키마·에러 코드 값은 각 피쳐 PR에서 확정한다.

    - 성공 응답은 공통 인터셉터가 `{ "data": ... }`로 감싼다.
    - 에러 응답은 공통 예외 필터의 `{ "errorCode", "message" }` 포맷을 따른다.
    - 인증은 별도 인증 설계 문서에서 확정한다(잠정: Bearer 토큰). 인증 예외는
      `POST /api/v1/users`와 `GET /api/v1/invitations/{code}` 뿐이다.
    - 제목에 **[TBD]** 가 붙은 API는 기획 변경이 진행 중이라 계약이 잠정이다.

servers:
  - url: https://api.gguk.org
    description: production
  - url: http://localhost:3000
    description: local

security:
  - bearerAuth: []

tags:
  - name: User
    description: 유저 등록·프로필 ([001] 온보딩, [007] 마이페이지)
  - name: Room
    description: 방 생성·조회·편집·나가기 ([001], [003], [004])
  - name: Invitation
    description: 초대 미리보기·방 합류
  - name: LinkAnalysis
    description: 링크 분석 (비동기) ([000] 공유 유입)
  - name: Pin
    description: 핀 조회·복제·접근 기록 ([002], [004], [005])
  - name: Comment
    description: 핀 코멘트 ([005] 장소 상세)
  - name: Notification
    description: 알림함 ([006] — TBD)
  - name: Internal
    description: 외부 비공개 (Cloud Tasks 워커 콜백)

paths:
  /api/v1/users:
    post:
      tags: [User]
      summary: 유저 등록 (+ 개인방 자동 생성)
      description: |
        `device_id` 기반 유저 등록. 개인방("내 방", `type: personal`) 생성이 같은 흐름에서 함께 처리된다.
        등록·인증 계약(토큰 발급, 재등록 처리 등)은 별도 인증 설계 문서에서 확정한다.
        개인방 색상 정책은 미결(프디팀 결정 대기).
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [deviceId, nickname]
              properties:
                deviceId:
                  type: string
                nickname:
                  $ref: "#/components/schemas/Nickname"
                profileImageUrl:
                  type: string
                  nullable: true
      responses:
        "201":
          description: 등록 완료. 개인방 정보 포함 여부는 상세 PR에서 확정.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      user:
                        $ref: "#/components/schemas/User"
                      personalRoom:
                        $ref: "#/components/schemas/Room"
        "409":
          $ref: "#/components/responses/Conflict"

  /api/v1/users/me:
    get:
      tags: [User]
      summary: 내 프로필 조회
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/User"
        "401":
          $ref: "#/components/responses/Unauthorized"
    patch:
      tags: [User]
      summary: 프로필 수정
      description: 닉네임(공백 포함 한글/영문 2~15자, 특수문자 불가)·프로필 이미지 수정. 공통 프로필이라 모든 방에 즉시 반영된다.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                nickname:
                  $ref: "#/components/schemas/Nickname"
                profileImageUrl:
                  type: string
                  nullable: true
      responses:
        "200":
          description: 수정된 프로필
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/User"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /api/v1/users/me/push-token:
    put:
      tags: [User]
      summary: 디바이스 푸시 토큰 등록·갱신
      description: FCM/APNs 발송 대상 토큰. 알림 기획(TBD) 확정에 따라 계약이 조정될 수 있다.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [token]
              properties:
                token:
                  type: string
                platform:
                  type: string
                  enum: [ios, android]
      responses:
        "204":
          description: 등록/갱신 완료
        "401":
          $ref: "#/components/responses/Unauthorized"

  /api/v1/rooms:
    post:
      tags: [Room]
      summary: 공동방 생성
      description: 생성자가 방장(`owner_id`)이 되고 `invite_code`가 발급된다.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name, color]
              properties:
                name:
                  type: string
                  maxLength: 15
                  description: 최소 제한 없음·최대 15자·중복 허용·앞뒤 공백 제거 (PR 리뷰 확정)
                description:
                  type: string
                  maxLength: 20
                  nullable: true
                color:
                  type: string
                  description: '팔레트 5색 중 하나의 hex 값 (예: "#FF6B6B")'
      responses:
        "201":
          description: 생성된 방
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/Room"
        "401":
          $ref: "#/components/responses/Unauthorized"
    get:
      tags: [Room]
      summary: 내가 속한 방 목록
      description: 나간 방(멤버십 soft delete)은 제외한다. 공동방 생성 유도 바텀시트용 보유 이력 판별에도 쓰인다.
      parameters:
        - name: savedPlaceId
          in: query
          required: false
          schema:
            type: string
            format: uuid
          description: 지정 시 각 방에 해당 장소가 이미 저장되어 있는지(`hasPlace`)를 함께 반환 — "다른 방에 공유" 화면용
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/RoomSummary"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /api/v1/rooms/{roomId}:
    parameters:
      - $ref: "#/components/parameters/RoomId"
    get:
      tags: [Room]
      summary: 방 상세 조회
      description: |
        방 정보 + 핀 리스트(지도뷰용 좌표 포함). 요청 유저의 멤버십을 검증한다.
        지도에 표시하는 핀은 페이지네이션 없이 전체 반환한다(성능 저하 확인 시 리팩토링, PR 리뷰 확정).
        핀 리스트의 정렬/필터(5종)·카드형/리스트형 뷰는 기획 TBD — 확정 후 파라미터를 추가한다.
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/RoomDetail"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
    patch:
      tags: [Room]
      summary: 방 편집
      description: 이름·색상 수정. **방장만** 가능.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  maxLength: 15
                color:
                  type: string
      responses:
        "200":
          description: 수정된 방
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/Room"
        "403":
          $ref: "#/components/responses/Forbidden"

  /api/v1/rooms/{roomId}/owner:
    put:
      tags: [Room]
      summary: 방장 위임
      description: '**방장만** 가능. 위임 대상은 해당 방의 활성 멤버여야 한다.'
      parameters:
        - $ref: "#/components/parameters/RoomId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [nextOwnerId]
              properties:
                nextOwnerId:
                  type: string
                  format: uuid
      responses:
        "204":
          description: 위임 완료
        "403":
          $ref: "#/components/responses/Forbidden"

  /api/v1/rooms/{roomId}/members/me:
    delete:
      tags: [Room]
      summary: 방 나가기
      description: |
        멤버십 soft delete. 방장이 나가는 경우 `nextOwnerId`가 필수이며 위임과 한 트랜잭션으로 처리한다.
        **방장이 마지막 멤버면 `nextOwnerId` 없이 나가기를 허용하고 방을 삭제(soft delete) 처리한다.** (PR 리뷰 확정)
        개인방은 나가기 대상이 아니다.
      parameters:
        - $ref: "#/components/parameters/RoomId"
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                nextOwnerId:
                  type: string
                  format: uuid
                  description: 방장이 나갈 때 필수(마지막 멤버 제외)
      responses:
        "204":
          description: 나가기 완료
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"

  /api/v1/invitations/{code}:
    get:
      tags: [Invitation]
      summary: 초대 코드로 방 미리보기
      description: |
        **인증 불필요** (앱 설치 전/온보딩 전 진입). 초대 링크(`gguk.org/r/{code}`)의 code로 조회한다.
        응답에 `roomId`를 포함한다 — 합류 API의 path `roomId`를 얻는 유일한 경로 (PR 리뷰 확정).
        초대 링크 유효기간은 무제한이며 거절 개념이 없다. **개인방 코드는 거절한다**(거절 방식 상세는 피쳐 PR에서).
      security: []
      parameters:
        - name: code
          in: path
          required: true
          schema:
            type: string
            maxLength: 16
      responses:
        "200":
          description: 방 미리보기 (노출 정보 최소화)
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/InvitationPreview"
        "404":
          $ref: "#/components/responses/NotFound"

  /api/v1/rooms/{roomId}/members:
    parameters:
      - $ref: "#/components/parameters/RoomId"
    post:
      tags: [Invitation]
      summary: 방 합류
      description: |
        body의 `inviteCode`가 path의 `{roomId}`에 속한 활성 코드인지 검증하고, 불일치·무효 코드는 거절한다.
        **개인방(`type: personal`)의 코드는 거절한다.** 이미 멤버면 오류 대신 멱등 응답을 준다.
        합류 완료 시 방 멤버 전원에게 푸시 알림을 발송한다. (PR 리뷰 확정)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [inviteCode]
              properties:
                inviteCode:
                  type: string
                  maxLength: 16
      responses:
        "200":
          description: 합류 완료(또는 이미 멤버 — 멱등)
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/RoomSummary"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
    get:
      tags: [Invitation]
      summary: 방 멤버 목록
      description: 방장 위임 대상 선택 모달용. 요청 유저의 멤버십을 검증한다.
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/RoomMember"
        "403":
          $ref: "#/components/responses/Forbidden"

  /api/v1/link-analyses:
    post:
      tags: [LinkAnalysis]
      summary: 링크 분석 요청 (비동기 접수)
      description: |
        잡 생성 전에 `roomId`에 대한 요청 유저의 멤버십을 검증한다.
        `sources` 등록과 잡 생성까지만 동기로 수행하고 즉시 202를 반환한다.
        MVP 지원 출처는 인스타그램 링크뿐이며 그 외 URL은 명시적으로 거절한다.
        한 게시물에서 장소가 여러 개 추출되는 경우의 처리(핀 N개·부분 성공·푸시 횟수)는 미결 — 확정 후 계약에 반영.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [url, roomId]
              properties:
                url:
                  type: string
                  format: uri
                  description: 인스타그램 게시물 URL만 허용
                roomId:
                  type: string
                  format: uuid
      responses:
        "202":
          description: 접수됨
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      jobId:
                        type: string
                        format: uuid
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"

  /api/v1/link-analyses/{jobId}:
    get:
      tags: [LinkAnalysis]
      summary: 분석 잡 상태 조회
      description: |
        푸시가 주 전달 수단이지만 앱이 포그라운드일 때 폴링/보정용으로 쓴다.
        **잡 생성 요청자(또는 해당 방 멤버)만 조회할 수 있다.**
      parameters:
        - name: jobId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/LinkAnalysisJob"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

  /internal/link-analyses/{jobId}/process:
    post:
      tags: [Internal]
      summary: 링크 분석 워커 콜백 (외부 비공개)
      description: |
        Cloud Tasks가 호출하는 워커 엔드포인트. OIDC 가드로 보호하며 외부에 공개하지 않는다.
        스크래핑 → AI 추출 → 지오코딩 → `places` dedup → `place_sources` 연결 → `pins` 생성을 수행하고,
        잡 종결 시 알림 레코드를 남긴다(푸시는 중복·실패 시에만 발송).
      security: []
      parameters:
        - name: jobId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "204":
          description: 처리 완료 (결과는 잡 상태에 기록)
        "401":
          $ref: "#/components/responses/Unauthorized"

  /api/v1/rooms/{roomId}/cards:
    get:
      tags: [Pin]
      summary: "[TBD] 홈 카드 피드 조회"
      description: |
        **TBD — 홈 카드 큐레이션 기획 변경 진행 중.** 라벨 그룹 4종(클릭수/코멘트수/중복 저장/오래된 랜덤)
        큐레이션이 후보로 등장했으나 확정 전이라 파라미터·응답 구성은 잠정이다.
        확정분: 카드 10개 노출, 재생성 시 사용자별 접근 기록으로 이미 본 카드 제외, 개인별 큐레이션.
      parameters:
        - $ref: "#/components/parameters/RoomId"
      responses:
        "200":
          description: 카드 10개 (잠정)
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    maxItems: 10
                    items:
                      $ref: "#/components/schemas/Card"
        "403":
          $ref: "#/components/responses/Forbidden"

  /api/v1/pins/{pinId}:
    get:
      tags: [Pin]
      summary: 장소(핀) 상세 조회
      description: 장소 정보 + 출처 링크 + 코멘트 수. 핀이 속한 방의 멤버만 조회할 수 있다.
      parameters:
        - $ref: "#/components/parameters/PinId"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/PinDetail"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

  /api/v1/rooms/{roomId}/pins:
    post:
      tags: [Pin]
      summary: 다른 방에서 핀 복제 ("다른 방에 공유")
      description: |
        신규 저장 경로가 아니다(신규 저장은 링크 분석 잡이 처리). 원본 방·대상 방 **양쪽 멤버십**을 검증한다.
        대상 방에 같은 장소가 이미 있으면 신규 생성 대신 기존 핀을 반환한다(상태 코드 200 vs 409는 구현 PR에서 확정).
      parameters:
        - $ref: "#/components/parameters/RoomId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [pinId]
              properties:
                pinId:
                  type: string
                  format: uuid
                  description: 복제할 원본 핀
      responses:
        "201":
          description: 복제된 핀 (이미 있으면 기존 핀 반환 — 상태 코드 미확정)
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/Pin"
        "403":
          $ref: "#/components/responses/Forbidden"

  /api/v1/pins/{pinId}/accesses:
    post:
      tags: [Pin]
      summary: 핀 접근 기록 (사용자별)
      description: |
        카드 탐색/장소 상세 진입 시 요청 유저 기준으로 접근 행을 남긴다.
        개인별 큐레이션의 재생성 제외 조건이자 "친구들이 많이 본 곳"(클릭수) 집계의 원천 데이터다.
      parameters:
        - $ref: "#/components/parameters/PinId"
      responses:
        "204":
          description: 기록 완료
        "403":
          $ref: "#/components/responses/Forbidden"

  /api/v1/pins/{pinId}/comments:
    parameters:
      - $ref: "#/components/parameters/PinId"
    get:
      tags: [Comment]
      summary: 코멘트 목록 조회
      description: 방 멤버만 조회 가능.
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/Comment"
        "403":
          $ref: "#/components/responses/Forbidden"
    post:
      tags: [Comment]
      summary: 코멘트 작성
      description: 방 멤버만 작성 가능. 수정(PATCH)은 MVP 미지원 — 삭제 후 재작성한다.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [content]
              properties:
                content:
                  type: string
      responses:
        "201":
          description: 작성된 코멘트
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/Comment"
        "403":
          $ref: "#/components/responses/Forbidden"

  /api/v1/pins/{pinId}/comments/{commentId}:
    delete:
      tags: [Comment]
      summary: 코멘트 삭제
      description: '**작성자 본인만** 삭제할 수 있다(PR 리뷰 확정). soft delete로 처리한다.'
      parameters:
        - $ref: "#/components/parameters/PinId"
        - name: commentId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "204":
          description: 삭제 완료
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

  /api/v1/notifications:
    get:
      tags: [Notification]
      summary: "[TBD] 알림 목록 조회"
      description: |
        **TBD — 알림 종류·알림함 구성이 프디팀 정리 중이라 계약이 잠정이다.**
        (예시 후보: 저장 중복 / 오류 / 친구 합류 / 친구 방 나가기 / 방장 위임)
        확정분: 푸시는 중복·실패·초대 합류 시 발송, 중복 저장 알림은 기존 핀 참조(`roomId`·`pinId`·`placeId`·최초 저장 시각)를
        담아 딥링크로 이동시킨다. 페이지네이션 방식은 상세 PR에서 확정.
      responses:
        "200":
          description: 알림 목록 (잠정)
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/Notification"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /api/v1/notifications/reads:
    post:
      tags: [Notification]
      summary: "[TBD] 알림 읽음 처리"
      description: '**TBD — 알림 기획 확정 전 잠정 계약.** 개별 id 목록 또는 전체 읽음 처리.'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                notificationIds:
                  type: array
                  items:
                    type: string
                    format: uuid
                  description: 생략(또는 빈 배열 + all=true) 시 전체 읽음 — 상세 PR에서 확정
                all:
                  type: boolean
      responses:
        "204":
          description: 읽음 처리 완료
        "401":
          $ref: "#/components/responses/Unauthorized"

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: 잠정. 인증 방식은 별도 인증 설계 문서에서 확정한다.

  parameters:
    RoomId:
      name: roomId
      in: path
      required: true
      schema:
        type: string
        format: uuid
    PinId:
      name: pinId
      in: path
      required: true
      schema:
        type: string
        format: uuid

  responses:
    BadRequest:
      description: 잘못된 요청
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    Unauthorized:
      description: 인증 실패
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    Forbidden:
      description: 권한 없음 (멤버십/방장/작성자 검증 실패)
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    NotFound:
      description: 대상 없음
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    Conflict:
      description: 충돌 (중복 등록 등)
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"

  schemas:
    Error:
      type: object
      required: [errorCode, message]
      properties:
        errorCode:
          type: string
          example: FORBIDDEN
        message:
          type: string

    Nickname:
      type: string
      minLength: 2
      maxLength: 15
      description: 공백 포함 한글/영문 2~15자, 특수문자 불가 (PR 리뷰 확정)

    User:
      type: object
      properties:
        id:
          type: string
          format: uuid
        nickname:
          $ref: "#/components/schemas/Nickname"
        profileImageUrl:
          type: string
          nullable: true
        createdAt:
          type: string
          format: date-time

    Room:
      type: object
      properties:
        id:
          type: string
          format: uuid
        type:
          type: string
          enum: [personal, shared]
        name:
          type: string
          maxLength: 15
        description:
          type: string
          maxLength: 20
          nullable: true
        color:
          type: string
          description: 'hex 값 (예: "#FF6B6B")'
        ownerId:
          type: string
          format: uuid
        inviteCode:
          type: string
          maxLength: 16
          description: 초대 링크 gguk.org/r/{code}의 code. 개인방 코드는 초대에 사용 불가
        createdAt:
          type: string
          format: date-time

    RoomSummary:
      allOf:
        - $ref: "#/components/schemas/Room"
        - type: object
          properties:
            pinCount:
              type: integer
            memberCount:
              type: integer
            hasPlace:
              type: boolean
              nullable: true
              description: '`?savedPlaceId=` 지정 시에만 포함 — 해당 장소가 이 방에 이미 저장돼 있는지'

    RoomDetail:
      allOf:
        - $ref: "#/components/schemas/RoomSummary"
        - type: object
          properties:
            pins:
              type: array
              description: 지도뷰용 좌표 포함, 페이지네이션 없이 전체 반환. 정렬/필터는 TBD
              items:
                $ref: "#/components/schemas/Pin"

    RoomMember:
      type: object
      properties:
        userId:
          type: string
          format: uuid
        nickname:
          $ref: "#/components/schemas/Nickname"
        profileImageUrl:
          type: string
          nullable: true
        isOwner:
          type: boolean
        joinedAt:
          type: string
          format: date-time

    InvitationPreview:
      type: object
      description: 인증 없이 노출되므로 정보 최소화. roomId는 합류 API 호출에 필요 (PR 리뷰 확정)
      properties:
        roomId:
          type: string
          format: uuid
        name:
          type: string
        color:
          type: string
        memberCount:
          type: integer

    Place:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        address:
          type: string
        lat:
          type: number
        lng:
          type: number
        category:
          type: string
          nullable: true
          description: provider별 카테고리 정규화 규칙 정의 예정
        phone:
          type: string
          nullable: true
        externalUrl:
          type: string
          nullable: true

    Pin:
      type: object
      properties:
        id:
          type: string
          format: uuid
        roomId:
          type: string
          format: uuid
        place:
          $ref: "#/components/schemas/Place"
        createdBy:
          type: string
          format: uuid
          nullable: true
          description: 추가한 멤버 ("누가 추가한 곳" 표시용)
        createdAt:
          type: string
          format: date-time

    PinDetail:
      allOf:
        - $ref: "#/components/schemas/Pin"
        - type: object
          properties:
            sourceUrls:
              type: array
              description: 출처 링크 (place_sources → sources.original_url)
              items:
                type: string
                format: uri
            commentCount:
              type: integer

    Comment:
      type: object
      properties:
        id:
          type: string
          format: uuid
        pinId:
          type: string
          format: uuid
        author:
          type: object
          properties:
            userId:
              type: string
              format: uuid
            nickname:
              $ref: "#/components/schemas/Nickname"
            profileImageUrl:
              type: string
              nullable: true
        content:
          type: string
        createdAt:
          type: string
          format: date-time

    Card:
      type: object
      description: 홈 카드 (TBD — 큐레이션 확정 후 라벨 그룹 등 필드 확정)
      properties:
        pin:
          $ref: "#/components/schemas/Pin"

    LinkAnalysisJob:
      type: object
      properties:
        jobId:
          type: string
          format: uuid
        status:
          type: string
          enum: [pending, processing, succeeded, duplicated, failed]
        roomId:
          type: string
          format: uuid
        pinId:
          type: string
          format: uuid
          nullable: true
          description: 성공 시 생성된 핀. 중복 시 기존 핀
        failureReason:
          type: string
          nullable: true

    Notification:
      type: object
      description: TBD — 유형 목록은 프디팀 정리 후 확정
      properties:
        id:
          type: string
          format: uuid
        type:
          type: string
          description: '후보: duplicate_save / error / member_joined / member_left / owner_transferred'
        payload:
          type: object
          description: 중복 저장 알림은 기존 핀의 roomId·pinId·placeId·최초 저장 시각 포함 (딥링크 조립용)
        readAt:
          type: string
          format: date-time
          nullable: true
        createdAt:
          type: string
          format: date-time
