openapi: 3.0.3
info:
  title: 꾹(GGUK) API
  version: 0.1.0-draft
  description: |
    꾹 MVP API 초안. `docs/prd.md` 8장(API 설계 초안)을 OpenAPI로 옮긴 것으로,
    요청/응답 스키마·에러 코드 값은 각 피쳐 PR에서 확정한다.

    - 성공 응답은 공통 인터셉터가 `{ "data": ... }`로 감싼다. 반환할 데이터가 없는 성공은
      본문 없는 204 대신 `{ "data": { "ok": true } }`를 반환한다.
    - 에러 응답은 공통 예외 필터의 `{ "errorCode", "message" }` 포맷을 따른다.
    - 목록 API 페이지네이션은 **offset 기반**으로 통일한다: `page`(0부터 시작)·`pageSize` 쿼리 파라미터,
      응답에 `pagination { pageSize, page, hasNext }` 객체 포함. (지도용 핀 전체 조회만 예외)
    - 인증은 Firebase Authentication 익명 인증이다. 클라이언트가 받은 ID 토큰을
      `Authorization: Bearer <idToken>`으로 보낸다. 토큰 없이 호출할 수 있는 API는
      `GET /api/v1/invitations/{code}` 뿐이며, `POST /api/v1/users`는 **토큰은 필요하지만
      등록된 유저는 아직 없어도 되는** 예외다.
    - 제목에 **[TBD]** 가 붙은 API는 기획 변경이 진행 중이라 계약이 잠정이다.

servers:
  - url: https://api.gguk.org
    description: production
  - url: http://localhost:3000
    description: local

security:
  - bearerAuth: []

tags:
  - name: User
    description: 유저 등록·프로필 ([001] 온보딩, [007] 마이페이지)
  - name: Room
    description: 방 생성·조회·편집·나가기 ([001], [003], [004])
  - name: Invitation
    description: 초대 미리보기·방 합류
  - name: LinkAnalysis
    description: 링크 분석 (비동기) ([000] 공유 유입 — TBD)
  - name: Pin
    description: 핀 조회·복제·접근 기록 ([002], [004], [005])
  - name: Comment
    description: 핀 코멘트 ([005] 장소 상세)
  - name: Notification
    description: 알림함 ([006], 알림함 스펙 3.0.0 기준)

paths:
  /api/v1/users:
    post:
      tags: [User]
      summary: 유저 등록 (+ 개인방 자동 생성)
      description: |
        유저 등록. 유저 식별자(uid)는 요청 토큰에서 얻으므로 본문에 담지 않는다.
        개인방("내 방", `type: personal`) 생성이 같은 흐름에서 함께 처리된다.
        같은 uid로 다시 호출하면 409이며, 클라이언트는 이를 "이미 등록됨"으로 보고
        `GET /api/v1/users/me`로 넘어간다. 개인방 색상 정책은 미결(프디팀 결정 대기).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [nickname, avatar]
              properties:
                nickname:
                  $ref: "#/components/schemas/Nickname"
                avatar:
                  $ref: "#/components/schemas/Avatar"
      responses:
        "201":
          description: 등록 완료. 개인방은 함께 생성되지만 응답에는 포함하지 않는다.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/User"
        "409":
          $ref: "#/components/responses/Conflict"

  /api/v1/users/me:
    get:
      tags: [User]
      summary: 내 프로필 조회
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/User"
        "401":
          $ref: "#/components/responses/Unauthorized"
    patch:
      tags: [User]
      summary: 프로필 수정
      description: |
        닉네임(한글/영문 2~15자, 공백·숫자·특수문자 불가)·아바타 수정. 공통 프로필이라 모든 방에 즉시 반영된다.
        두 필드 모두 선택이지만 **최소 하나는 있어야 한다** — 빈 본문은 400 `VALIDATION_ERROR`.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                nickname:
                  $ref: "#/components/schemas/Nickname"
                avatar:
                  $ref: "#/components/schemas/Avatar"
      responses:
        "200":
          description: 수정된 프로필
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/User"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /api/v1/users/me/push-token:
    put:
      tags: [User]
      summary: 디바이스 푸시 토큰 등록·갱신
      description: FCM 등록 토큰(platform 필드 없음, FCM이 토큰으로 판별). 재설치로 새 유저 생성 시 이전 유저 행의 토큰은 서버가 회수한다.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [token]
              properties:
                token:
                  type: string
      responses:
        "200":
          description: 등록/갱신 완료
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OkResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /api/v1/rooms:
    post:
      tags: [Room]
      summary: 공동방 생성
      description: 생성자가 방장(`owner_id`)이 된다. 초대 코드는 `invitations`가 별도로 관리한다.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name, color]
              properties:
                name:
                  $ref: "#/components/schemas/RoomName"
                description:
                  type: string
                  maxLength: 30 # grapheme 단위(클라이언트 카운터와 동일)
                  nullable: true
                color:
                  $ref: "#/components/schemas/ColorKey"
      responses:
        "201":
          description: 생성된 방
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/Room"
        "401":
          $ref: "#/components/responses/Unauthorized"
    get:
      tags: [Room]
      summary: 내가 속한 방 목록
      description: 나간 방(멤버십 soft delete)은 제외한다. 공동방 생성 유도 바텀시트용 보유 이력 판별에도 쓰인다.
      parameters:
        - name: showHasPlaceId
          in: query
          required: false
          schema:
            type: string
            format: uuid
          description: 지정 시 각 방에 해당 장소(placeId)가 이미 저장되어 있는지(`hasPlace`) 및 매칭 핀 ID(`matchedPinId`)를 함께 반환 — "다른 방에 공유" 화면용
        - name: showUsers
          in: query
          required: false
          schema:
            type: string
            enum: ["true", "false"]
          description: '`true`면 각 방의 멤버 목록(`users`)을 함께 반환. 정확히 `true`/`false`만 허용한다'
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/RoomSummary"
        "400":
          description: showHasPlaceId가 UUID가 아니거나 showUsers가 `true`/`false`가 아님 (`VALIDATION_ERROR`)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /api/v1/rooms/{roomId}:
    parameters:
      - $ref: "#/components/parameters/RoomId"
    get:
      tags: [Room]
      summary: 방 상세 조회
      description: |
        방 정보 + 핀 수·멤버 수 메타. 요청 유저의 멤버십을 검증한다.
        핀 목록은 포함하지 않는다 — `GET /api/v1/pins?roomId=`로 별도 조회한다.
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/RoomDetail"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
    patch:
      tags: [Room]
      summary: 방 편집
      description: |
        이름·설명·색상 수정. **방장만** 가능.
        세 필드 모두 선택이지만 **최소 하나는 있어야 한다** — 빈 본문은 400 `VALIDATION_ERROR`.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  $ref: "#/components/schemas/RoomName"
                description:
                  type: string
                  maxLength: 30 # grapheme 단위(클라이언트 카운터와 동일)
                  nullable: true
                color:
                  $ref: "#/components/schemas/ColorKey"
      responses:
        "200":
          description: 수정된 방
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/Room"
        "403":
          $ref: "#/components/responses/Forbidden"

  /api/v1/rooms/{roomId}/owner:
    put:
      tags: [Room]
      summary: 방장 위임
      description: '**방장만** 가능. 위임 대상은 해당 방의 활성 멤버여야 한다. 방장이 방을 나가려면 이 API로 먼저 위임을 완료해야 한다.'
      parameters:
        - $ref: "#/components/parameters/RoomId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [nextOwnerId]
              properties:
                nextOwnerId:
                  type: string
                  format: uuid
      responses:
        "200":
          description: 위임 완료
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OkResponse"
        "403":
          $ref: "#/components/responses/Forbidden"

  /api/v1/rooms/{roomId}/members/me:
    delete:
      tags: [Room]
      summary: 방 나가기
      description: |
        멤버십 soft delete. 파라미터 없이 요청하며, 서버가 요청 유저의 상태를 검증해 분기한다.
        - 일반 멤버: 나가기 처리.
        - **방장 + 다른 멤버 존재: 에러로 거절** — 먼저 방장 위임(`PUT /rooms/{roomId}/owner`)을 완료해야 한다. (errorCode 예: `OWNER_TRANSFER_REQUIRED`)
        - **방장 + 마지막 멤버: 나가기를 허용하고 방을 삭제(soft delete) 처리한다.** (PR 리뷰 확정)
        - 개인방은 나가기 대상이 아니다.
      parameters:
        - $ref: "#/components/parameters/RoomId"
      responses:
        "200":
          description: 나가기 완료
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OkResponse"
        "403":
          $ref: "#/components/responses/Forbidden"
        "409":
          description: 방장이 위임 없이 나가기를 요청함 — 위임 후 재시도 필요
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /api/v1/rooms/{roomId}/invitations:
    parameters:
      - $ref: "#/components/parameters/RoomId"
    post:
      tags: [Invitation]
      summary: 내 초대 링크 발급
      description: |
        **초대는 멤버당 1개다.** 이미 발급했다면 같은 `code`를 돌려준다(멱등).
        만료·재발급·거절이 없으므로 링크는 계속 유효하다.
        미리보기에 "OO님이 초대했어요"로 표시되는 초대자가 곧 이 API를 호출한 멤버다.

        클라이언트가 `gguk.org/r/{code}` 형태로 링크를 조립한다. 서버는 도메인을 알지 않는다.
        **개인방은 초대할 수 없다.**
      responses:
        "200":
          description: 초대 코드 (기존 초대가 있으면 같은 값)
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      code:
                        $ref: "#/components/schemas/InvitationCode"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

  /api/v1/invitations/{code}:
    get:
      tags: [Invitation]
      summary: 초대 코드로 방 미리보기
      description: |
        **인증 불필요** (앱 설치 전/온보딩 전 진입). 초대 링크(`gguk.org/r/{code}`)의 code로 조회한다.
        응답의 `room.id`가 합류 API의 path `roomId`를 얻는 유일한 경로다 (PR 리뷰 확정).
        초대 링크 유효기간은 무제한이며 거절 개념이 없다. **개인방 코드는 거절한다.**
      security: []
      parameters:
        - name: code
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/InvitationCode"
      responses:
        "200":
          description: 방 미리보기 (노출 정보 최소화)
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/InvitationPreview"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

  /api/v1/rooms/{roomId}/members:
    parameters:
      - $ref: "#/components/parameters/RoomId"
    post:
      tags: [Invitation]
      summary: 방 합류
      description: |
        body의 `inviteCode`로 `invitations`에서 활성 초대를 찾고, 그 초대의 방이 path의 `{roomId}`와
        같은지 검증한다. 불일치·무효 코드는 멤버 추가 전에 거절한다.
        **개인방의 코드는 거절한다.** 이미 멤버면 오류 대신 멱등 응답을 준다.
        나갔던 방에는 같은 코드로 다시 합류할 수 있다(이전 멤버십 행은 `deleted_at`을 유지).

        합류 완료 시 기존 멤버에게 `ROOM_MEMBER_JOINED`, 합류한 본인에게 `ROOM_JOINED_SELF`
        알림을 기록하고 푸시를 발송한다. 알림 발송이 실패해도 합류 자체는 성공으로 응답한다.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [inviteCode]
              properties:
                inviteCode:
                  $ref: "#/components/schemas/InvitationCode"
      responses:
        "200":
          description: 합류 완료(또는 이미 멤버 — 멱등)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OkResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
    get:
      tags: [Room]
      summary: 방 멤버 목록
      description: 방장 위임 대상 선택 모달용. 요청 유저의 멤버십을 검증한다.
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/RoomMember"
        "403":
          $ref: "#/components/responses/Forbidden"

  /api/v1/rooms/pins:
    post:
      tags: [LinkAnalysis]
      summary: 링크로 여러 방에 핀 생성 요청 (비동기 접수)
      description: |
        공유/붙여넣기된 링크를 접수해 선택한 여러 방에 핀을 생성하는 비동기 요청. enqueue 전에 모든 `roomIds`에 대한 요청 유저의 멤버십을 검증한다.
        서버는 `sources` 등록과 Cloud Tasks enqueue까지만 동기로 수행하고 즉시 응답한다.
        **별도 상태 조회 API는 없다** — 처리 결과는 푸시(중복·실패)와 알림함으로 안내한다.
        백그라운드 처리는 Cloud Tasks 워커가 URL을 한 번 분석한 뒤 유효한 대상 방들에 핀을 저장한다.
        MVP 지원 출처는 인스타그램 링크뿐이며 그 외 URL은 명시적으로 거절한다.
        한 게시물에서 장소가 여러 개 추출되는 경우의 처리(핀 N개·부분 성공·푸시 횟수)는 미결 — 확정 후 계약에 반영.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [url, roomIds]
              properties:
                url:
                  type: string
                  format: uri
                  description: 인스타그램 게시물 URL만 허용
                roomIds:
                  type: array
                  minItems: 1
                  uniqueItems: true
                  description: 핀을 저장할 방 ID 목록. 모든 방의 활성 멤버여야 한다.
                  items:
                    type: string
                    format: uuid
      responses:
        "202":
          description: 접수됨
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OkResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "502":
          $ref: "#/components/responses/BadGateway"

  /api/v1/rooms/{roomId}/cards:
    get:
      tags: [Pin]
      summary: 홈 카드 피드 조회
      description: |
        `sort`로 후보 **10장**을 뽑고, 각 카드에 장소분류 라벨을 붙인다.

        **후보 (`sort`)** — 조건과 정렬을 함께 정한다.
        - `ggukPick`(기본): 조건 없음, **묵힘** 오래된 순
        - `latest`: 최근 14일 이내, 저장일 최신순
        - `nearby`: 반경 3km 이내, 거리 가까운 순 (`lat`·`lng` 필수)

        묵힘은 `coalesce(마지막으로 열어본 시점, 저장일)`이다. 스와이프는 기록하지 않으므로
        장소 상세로 들어간 클릭만 묵힘을 되돌린다. 열어본 핀은 스스로 뒤로 밀리므로
        "이미 본 카드 제외" 같은 조건이 필요 없다.

        **라벨 배정** — 아래 순서대로, 앞 라벨이 가져간 장소는 제외한다.
        1. `worthVisiting` 가볼 만한 곳 — 자격 없음, 묵힘 오래된 순, 4장
        2. `manySaves` 여럿이 저장한 곳 — 저장된 방 2곳 이상, 많은 순, 2장
        3. `manyComments` 이야기 많은 곳 — 코멘트 1건 이상, 많은 순, 2장
        4. `manyViews` 친구들이 많이 본 곳 — 클릭 1회 이상, 많은 순, 2장

        자격 미달로 남은 자리는 `worthVisiting`이 흡수한다. 그래서 지표가 전부 0인 신규 방은
        10장 모두 `worthVisiting`이 되고, 후보가 10장이면 덱도 10장이 된다.
        동점은 묵힌 순으로 깬다. **응답은 후보 정렬 순서를 그대로 유지한다** — 라벨별로 묶지 않는다.

        페이지네이션과 재생성 계약은 두지 않는다. 매 호출마다 새로 계산하며,
        다시 부르는 시점은 클라이언트가 정한다.
      parameters:
        - $ref: "#/components/parameters/RoomId"
        - name: sort
          in: query
          required: false
          schema:
            type: string
            enum: [ggukPick, latest, nearby]
            default: ggukPick
        - name: lat
          in: query
          required: false
          description: "`sort=nearby`일 때 필수"
          schema:
            type: number
            format: double
        - name: lng
          in: query
          required: false
          description: "`sort=nearby`일 때 필수"
          schema:
            type: number
            format: double
      responses:
        "200":
          description: 최대 10장. 방의 후보가 적으면 그만큼 짧다
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    maxItems: 10
                    items:
                      $ref: "#/components/schemas/Card"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"

  /api/v1/pins:
    get:
      tags: [Pin]
      summary: 핀 목록 조회
      description: |
        `roomId`의 핀 목록(좌표 포함). 요청 유저의 해당 방 멤버십을 검증한다.
        **`page`/`pageSize` 미지정 시 전체를 반환한다** — 지도 전체 보기는 페이지네이션 구분이 애매해 전체 조회를 보장한다(성능 저하 확인 시 리팩토링, PR 리뷰 확정). 리스트 뷰 등에서는 offset 기반 페이지네이션한다.
        **목록 정렬 5종** (`sort`, 기본 `all`) — 홈 카드 덱의 정렬 칩과 별개다.
        - `all` 전체 / `ggukPick` 저장일 오래된 순 상위 30% / `latest` 저장일 최신순
        - `distance` 요청 좌표 기준 반경 3km 이내 (`lat`·`lng` 필수) / `commented` 코멘트 수 상위 30%

        `ggukPick`의 판정 기준은 홈 카드 덱과 동일하다.
        **장소분류 라벨(`labelGroup`)은 이 응답에 없다** — 라벨은 홈 카드 덱이 부여하는 값이다.

        카드형/리스트형 뷰 전환은 기획 미확정이나, 조회 계약이 아니라 클라 표현 문제로 본다.
      parameters:
        - name: roomId
          in: query
          required: true
          schema:
            type: string
            format: uuid
        - name: sort
          in: query
          required: false
          schema:
            type: string
            enum: [all, ggukPick, latest, distance, commented]
            default: all
        - name: category
          in: query
          required: false
          description: 지도 상단 카테고리 필터. 3종 고정
          schema:
            type: string
            enum: [all, cafe, restaurant]
            default: all
        - name: lat
          in: query
          required: false
          description: "`sort=distance`일 때 필수"
          schema:
            type: number
            format: double
        - name: lng
          in: query
          required: false
          description: "`sort=distance`일 때 필수"
          schema:
            type: number
            format: double
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/PageSize"
      responses:
        "200":
          description: OK. 전체 조회 시 `pagination`은 생략한다
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/Pin"
                  pagination:
                    $ref: "#/components/schemas/Pagination"
        "403":
          $ref: "#/components/responses/Forbidden"

  /api/v1/pins/{pinId}:
    get:
      tags: [Pin]
      summary: 장소(핀) 상세 조회
      description: 장소 정보(places 컬럼 전체) + 출처 링크 + 저장한 멤버 프로필. 핀이 속한 방의 멤버만 조회할 수 있다.
      parameters:
        - $ref: "#/components/parameters/PinId"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/PinDetail"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

  /api/v1/pins/{pinId}/duplicate:
    post:
      tags: [Pin]
      summary: 다른 방에 핀 복제 ("다른 방에 공유")
      description: |
        원본 핀의 장소를 대상 방들에 복제한다. 신규 저장 경로가 아니다(신규 저장은 링크 분석 워커가 처리).
        원본 핀의 방과 **모든 대상 방**의 멤버십을 검증한다.
        **대상 방 중 하나라도 같은 장소가 이미 저장돼 있으면 `409`로 전체 거절한다.**
      parameters:
        - $ref: "#/components/parameters/PinId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [roomIds]
              properties:
                roomIds:
                  type: array
                  minItems: 1
                  items:
                    type: string
                    format: uuid
                  description: 복제 대상 방 목록
      responses:
        "200":
          description: 복제 완료
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OkResponse"
        "403":
          $ref: "#/components/responses/Forbidden"
        "409":
          description: 대상 방 중 하나 이상에 같은 장소가 이미 저장됨 — 전체 거절
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /api/v1/pins/{pinId}/accesses:
    post:
      tags: [Pin]
      summary: 핀 접근 기록 (사용자별)
      description: |
        장소 상세 진입 시 요청 유저 기준으로 접근 행을 남긴다.
        홈 카드 덱의 묵힘(`coalesce(마지막으로 열어본 시점, 저장일)`) 계산과
        "친구들이 많이 본 곳"(클릭수) 집계의 원천 데이터를 겸한다.
        스와이프는 기록하지 않는다 — 넘긴 카드는 아직 안 본 것으로 남는다.
      parameters:
        - $ref: "#/components/parameters/PinId"
      responses:
        "200":
          description: 기록 완료
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OkResponse"
        "403":
          $ref: "#/components/responses/Forbidden"

  /api/v1/pins/{pinId}/comments:
    parameters:
      - $ref: "#/components/parameters/PinId"
    get:
      tags: [Comment]
      summary: 코멘트 목록 조회
      description: |
        활성 방 멤버만 조회할 수 있다. `page=0`은 최신 코멘트 묶음이며,
        각 페이지 안에서는 오래된 코멘트부터 반환한다. 다음 페이지는 더 오래된 묶음이다.
        오류 코드는 `400 VALIDATION_ERROR`, `401 UNAUTHORIZED`,
        `403 NOT_ROOM_MEMBER`, `404 PIN_NOT_FOUND`다.
      parameters:
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/PageSize"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                required: [data, pagination]
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/Comment"
                  pagination:
                    $ref: "#/components/schemas/Pagination"
        "400":
          $ref: "#/components/responses/CommentValidationError"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/CommentNotRoomMember"
        "404":
          $ref: "#/components/responses/CommentPinNotFound"
    post:
      tags: [Comment]
      summary: 코멘트 작성
      description: |
        활성 방 멤버만 작성할 수 있다. 앞뒤 공백을 제거한 본문은 1~200자여야 하며,
        중복 본문은 허용한다. 수정(PATCH)은 MVP 미지원으로 삭제 후 재작성한다.
        오류 코드는 `400 VALIDATION_ERROR`, `401 UNAUTHORIZED`,
        `403 NOT_ROOM_MEMBER`, `404 PIN_NOT_FOUND`다.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [content]
              properties:
                content:
                  type: string
                  description: 앞뒤 공백 제거 후 1~200자
      responses:
        "201":
          description: 작성된 코멘트
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    $ref: "#/components/schemas/Comment"
        "400":
          $ref: "#/components/responses/CommentValidationError"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/CommentNotRoomMember"
        "404":
          $ref: "#/components/responses/CommentPinNotFound"

  /api/v1/pins/{pinId}/comments/{commentId}:
    delete:
      tags: [Comment]
      summary: 코멘트 삭제
      description: |
        활성 방 멤버 중 **작성자 본인만** 삭제할 수 있다. soft delete로 처리하며,
        이미 삭제됐거나 다른 핀에 속한 코멘트는 `COMMENT_NOT_FOUND`를 반환한다.
        오류 코드는 `400 VALIDATION_ERROR`, `401 UNAUTHORIZED`,
        `403 NOT_ROOM_MEMBER` 또는 `COMMENT_DELETE_FORBIDDEN`,
        `404 PIN_NOT_FOUND` 또는 `COMMENT_NOT_FOUND`다.
      parameters:
        - $ref: "#/components/parameters/PinId"
        - name: commentId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: 삭제 완료
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OkResponse"
        "400":
          $ref: "#/components/responses/CommentValidationError"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/CommentDeleteForbidden"
        "404":
          $ref: "#/components/responses/CommentDeleteNotFound"

  /api/v1/notifications:
    get:
      tags: [Notification]
      summary: 알림 목록 조회
      description: |
        알림함 스펙 3.0.0 기준. 유형 6종 고정(중복 저장/저장 오류/위치 기반/코멘트 기반/공동방 참가 2종).
        읽음 상태 없음. offset 기반 페이지네이션, 기간·총량 상한 없음(기본 20건).
      parameters:
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/PageSize"
      responses:
        "200":
          description: 알림 목록
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/Notification"
                  pagination:
                    $ref: "#/components/schemas/Pagination"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /api/v1/notifications/nearby-triggers:
    post:
      tags: [Notification]
      summary: 위치 기반 리마인드 트리거
      description: |
        저장했지만 미방문인 장소 주변에서 지오펜스가 진입 이벤트를 감지하면 클라이언트가 후보 placeId를 보낸다.
        서버는 요청 유저의 활성 핀인지 검증 후 기록하며, 이미 알린 장소는 재발송하지 않는다.
        신규 기록이 있을 때만 대표 push("근처에 저장한 곳 N개가 있어요")를 보낸다.
        위치 트리거 방식(지오펜스 대 서버 폴링)이 미확정이라 이 경로는 잠정이다.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [placeIds]
              properties:
                placeIds:
                  type: array
                  minItems: 1
                  maxItems: 100
                  uniqueItems: true
                  description: Android 지오펜스 상한(100개)에 맞춘 값. iOS는 기기당 20개로 더 낮다
                  items:
                    type: string
                    format: uuid
      responses:
        "200":
          description: 기록 완료. 0건이어도 정상이다(전부 이미 알린 장소인 경우)
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      newPlaceCount:
                        type: integer
                        description: 이번 요청으로 새로 기록된(=이미 알린 적 없는) 장소 수. push 발송은 별개이며 실패해도 이 값에는 반영되지 않는다
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          description: 요청 유저 소유가 아닌 placeId 포함
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: |
        Firebase Authentication ID 토큰. 클라이언트가 익명 로그인(`signInAnonymously`)으로
        발급받아 보내며, 서버는 uid로 `users`를 조회해 요청 유저를 식별한다.

  parameters:
    RoomId:
      name: roomId
      in: path
      required: true
      schema:
        type: string
        format: uuid
    PinId:
      name: pinId
      in: path
      required: true
      schema:
        type: string
        format: uuid
    Page:
      name: page
      in: query
      required: false
      schema:
        type: integer
        minimum: 0
        default: 0
      description: 페이지 번호 (0부터 시작)
    PageSize:
      name: pageSize
      in: query
      required: false
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 20
      description: 페이지 크기

  responses:
    CommentValidationError:
      description: 입력 검증 실패 (`VALIDATION_ERROR`)
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/CommentValidationError"
    CommentNotRoomMember:
      description: 활성 방 멤버 아님 (`NOT_ROOM_MEMBER`)
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/CommentNotRoomMember"
    CommentPinNotFound:
      description: 핀 또는 핀의 방 없음 (`PIN_NOT_FOUND`)
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/CommentPinNotFound"
    CommentDeleteForbidden:
      description: 방 멤버가 아니거나 작성자가 아님 (`NOT_ROOM_MEMBER`, `COMMENT_DELETE_FORBIDDEN`)
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/CommentDeleteForbidden"
    CommentDeleteNotFound:
      description: 핀 또는 코멘트 없음 (`PIN_NOT_FOUND`, `COMMENT_NOT_FOUND`)
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/CommentDeleteNotFound"
    BadRequest:
      description: 잘못된 요청
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    Unauthorized:
      description: 인증 실패
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    Forbidden:
      description: 권한 없음 (멤버십/방장/작성자 검증 실패)
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    NotFound:
      description: 대상 없음
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    Conflict:
      description: 충돌 (중복 등록 등)
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    BadGateway:
      description: Cloud Tasks enqueue 실패
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"

  schemas:
    CommentValidationError:
      type: object
      required: [errorCode, message]
      properties:
        errorCode:
          type: string
          enum: [VALIDATION_ERROR]
        message:
          type: string
    CommentNotRoomMember:
      type: object
      required: [errorCode, message]
      properties:
        errorCode:
          type: string
          enum: [NOT_ROOM_MEMBER]
        message:
          type: string
    CommentPinNotFound:
      type: object
      required: [errorCode, message]
      properties:
        errorCode:
          type: string
          enum: [PIN_NOT_FOUND]
        message:
          type: string
    CommentDeleteForbidden:
      type: object
      required: [errorCode, message]
      properties:
        errorCode:
          type: string
          enum: [NOT_ROOM_MEMBER, COMMENT_DELETE_FORBIDDEN]
        message:
          type: string
    CommentDeleteNotFound:
      type: object
      required: [errorCode, message]
      properties:
        errorCode:
          type: string
          enum: [PIN_NOT_FOUND, COMMENT_NOT_FOUND]
        message:
          type: string
    Error:
      type: object
      required: [errorCode, message]
      properties:
        errorCode:
          type: string
          example: FORBIDDEN
        message:
          type: string

    OkResponse:
      type: object
      description: 본문 데이터가 없는 성공 응답의 공통 포맷
      properties:
        data:
          type: object
          required: [ok]
          properties:
            ok:
              type: boolean
              example: true

    Pagination:
      type: object
      description: 목록 API 공통 페이지네이션 메타 (offset 기반)
      required: [pageSize, page, hasNext]
      properties:
        pageSize:
          type: integer
          example: 20
        page:
          type: integer
          description: 0부터 시작
          example: 0
        hasNext:
          type: boolean

    Nickname:
      type: string
      minLength: 2
      maxLength: 15
      pattern: "^[가-힣A-Za-z]+$"
      description: 한글/영문 2~15자 — 공백·숫자·특수문자 불가(안드 스펙 정합). 상한 15자는 서버(DB) 계약

    InvitationCode:
      type: string
      minLength: 6
      maxLength: 6
      pattern: "^[A-Z0-9]{6}$"
      example: "K7Q2MZ"
      description: 초대 링크 gguk.org/r/{code}의 code (대문자 영문 + 숫자 6자 고정)

    RoomName:
      type: string
      minLength: 1
      maxLength: 15
      pattern: "^[가-힣ㄱ-ㅎㅏ-ㅣA-Za-z0-9 ]+$"
      description: |
        한글·영문·숫자·공백만 허용. 앞뒤 공백을 제거한 뒤 1~15자(grapheme)이며 중복은 허용한다 (PR 리뷰 확정)

    ColorKey:
      type: string
      description: |
        색상 팔레트 키(총 13색, snake_case). 실제 색 매핑(그라데이션 등)은 클라이언트가 담당한다.
        gray는 개인방 기본값(클라이언트는 회색 기본 이미지로 렌더링).
      enum:
        - red
        - red_orange
        - orange
        - lime
        - green
        - cyan
        - violet
        - pink
        - blue
        - brown
        - light_blue
        - purple
        - gray
      example: red

    Avatar:
      type: object
      description: 프로필 아바타. 색상 키 기반으로 저장하며(실제 색 매핑은 클라이언트), 추후 필드 확장 가능
      required: [color]
      properties:
        color:
          $ref: "#/components/schemas/ColorKey"

    User:
      type: object
      properties:
        id:
          type: string
          format: uuid
        nickname:
          $ref: "#/components/schemas/Nickname"
        avatar:
          $ref: "#/components/schemas/Avatar"
        createdAt:
          type: string
          format: date-time

    Room:
      type: object
      properties:
        id:
          type: string
          format: uuid
        type:
          type: string
          enum: [personal, shared]
        name:
          $ref: "#/components/schemas/RoomName"
        description:
          type: string
          maxLength: 30 # grapheme 단위(클라이언트 카운터와 동일)
          nullable: true
        color:
          $ref: "#/components/schemas/ColorKey"
        ownerId:
          type: string
          format: uuid
        createdAt:
          type: string
          format: date-time

    RoomSummary:
      allOf:
        - $ref: "#/components/schemas/Room"
        - type: object
          properties:
            pinCount:
              type: integer
            memberCount:
              type: integer
            thumbnailList:
              type: array
              description: 최근 핀 최대 4개의 장소 대표 이미지 URL(최신순). 저장된 핀이 없으면 방 대표 색상 키 1개(클라이언트는 색+캐릭터로 렌더링)
              items:
                type: string
              example: ["https://img.example.com/a.jpg", "https://img.example.com/b.jpg"]
            hasPlace:
              type: boolean
              nullable: true
              description: '`?showHasPlaceId=` 지정 시에만 포함 — 해당 장소가 이 방에 이미 저장돼 있는지'
            matchedPinId:
              type: string
              format: uuid
              nullable: true
              description: '`?showHasPlaceId=` 지정 시 활성 매칭 핀 UUID, 없으면 null'
            users:
              type: array
              nullable: true
              description: '`?showUsers=true` 지정 시에만 포함 — 방 멤버 목록'
              items:
                $ref: "#/components/schemas/RoomMember"

    RoomDetail:
      allOf:
        - $ref: "#/components/schemas/Room"
        - type: object
          properties:
            pinCount:
              type: integer
            memberCount:
              type: integer

    RoomMember:
      type: object
      properties:
        userId:
          type: string
          format: uuid
        nickname:
          $ref: "#/components/schemas/Nickname"
        avatar:
          $ref: "#/components/schemas/Avatar"
        isOwner:
          type: boolean
        joinedAt:
          type: string
          format: date-time

    InvitationPreview:
      type: object
      description: |
        인증 없이 노출되므로 정보 최소화. `room.id`는 합류 API 호출에 필요 (PR 리뷰 확정).
        초대자는 invitations.invited_by에서 조회한다. 링크를 공유한 멤버가 그대로 표시된다.

        엔티티 단위로 묶어 클라이언트가 Room/User 타입을 그대로 재사용할 수 있게 한다.

      properties:
        room:
          type: object
          properties:
            id:
              type: string
              format: uuid
            type:
              type: string
              enum: [personal, shared]
            name:
              type: string
            description:
              type: string
              nullable: true
              description: 방 설명
            color:
              $ref: "#/components/schemas/ColorKey"
            pinCount:
              type: integer
              description: 방에 저장된 장소 수. "999+" 같은 절삭 표기는 클라이언트가 담당한다
            memberCount:
              type: integer
              description: 방의 활성 멤버 수
            members:
              type: array
              description: 겹쳐 보여줄 멤버 아바타. 인증 없이 열리는 응답이라 최대 5명까지만 내려간다
              items:
                type: object
                properties:
                  avatar:
                    $ref: "#/components/schemas/Avatar"
        inviter:
          type: object
          description: 초대를 만든 멤버 (invitations.invited_by)
          properties:
            nickname:
              $ref: "#/components/schemas/Nickname"
            avatar:
              $ref: "#/components/schemas/Avatar"
    PlaceBase:
      type: object
      description: 핀·카드 응답이 공유하는 장소 필드. images는 제외 — pins로 이동 예정(DB 변경)
      properties:
        id:
          type: string
          format: uuid
        provider:
          type: string
          enum: [kakao, google]
        providerPlaceId:
          type: string
        name:
          type: string
        address:
          type: string
        city:
          type: string
          nullable: true
        district:
          type: string
          nullable: true
        lat:
          type: number
        lng:
          type: number
        category:
          type: string
          nullable: true
          description: |
            provider 원본 카테고리 문자열. 지도 상단 필터는 이 값을
            `cafe`/`restaurant`/그 외 3분류로 접어서 판정한다 (매핑 규칙 정의 예정)
        phone:
          type: string
          nullable: true
        mapUrl:
          type: string
          nullable: true
          description: 외부 지도 상세 URL (스키마 컬럼 `external_url` → `map_url` 변경 예정)

    Place:
      description: 핀 응답의 장소. 카드 응답과 달리 타임스탬프를 포함한다
      allOf:
        - $ref: "#/components/schemas/PlaceBase"
        - type: object
          properties:
            createdAt:
              type: string
              format: date-time
            updatedAt:
              type: string
              format: date-time

    Pin:
      type: object
      properties:
        id:
          type: string
          format: uuid
        roomId:
          type: string
          format: uuid
        place:
          $ref: "#/components/schemas/Place"
        images:
          type: array
          description: 게시물 이미지 — places.images가 pins로 이동 예정(DB 변경)
          items:
            type: string
            format: uri
        createdBy:
          $ref: "#/components/schemas/PinAuthor"
        createdAt:
          type: string
          format: date-time

    PinAuthor:
      type: object
      nullable: true
      description: 핀을 저장한 멤버의 프로필 ("누가 추가한 곳" 표시용). 탈퇴 등으로 없으면 null
      properties:
        userId:
          type: string
          format: uuid
        nickname:
          $ref: "#/components/schemas/Nickname"
        avatar:
          $ref: "#/components/schemas/Avatar"

    PinDetail:
      allOf:
        - $ref: "#/components/schemas/Pin"
        - type: object
          properties:
            sourceUrl:
              type: string
              format: uri
              nullable: true
              description: 출처 링크 (sources.original_url, 단일)

    Comment:
      type: object
      required: [id, content, createdAt, author, canDelete]
      properties:
        id:
          type: string
          format: uuid
        author:
          type: object
          required: [id, nickname, avatar]
          properties:
            id:
              type: string
              format: uuid
            nickname:
              $ref: "#/components/schemas/Nickname"
            avatar:
              type: object
              nullable: true
              required: [color]
              properties:
                color:
                  type: string
        content:
          type: string
          minLength: 1
          maxLength: 200
        createdAt:
          type: string
          format: date-time
          description: UTC ISO 8601
        canDelete:
          type: boolean

    Card:
      type: object
      description: |
        홈 카드. 핀을 중첩하지 않고 핀 필드를 그대로 펼친 뒤 장소분류 라벨을 더한다.
        `place`에는 핀 응답과 달리 `createdAt`/`updatedAt`이 없다
      required: [id, roomId, place, images, createdBy, createdAt, labelGroup]
      properties:
        id:
          type: string
          format: uuid
        roomId:
          type: string
          format: uuid
        place:
          $ref: "#/components/schemas/PlaceBase"
        images:
          type: array
          description: 게시물 이미지 — places.images가 pins로 이동 예정(DB 변경)
          items:
            type: string
            format: uri
        createdBy:
          $ref: "#/components/schemas/PinAuthor"
        createdAt:
          type: string
          format: date-time
        labelGroup:
          type: string
          description: |
            `worthVisiting` 가볼 만한 곳 / `manyComments` 이야기 많은 곳 /
            `manySaves` 여럿이 저장한 곳 / `manyViews` 친구들이 많이 본 곳.
            `worthVisiting`이 자격 미달분을 흡수하므로 라벨이 비는 카드는 없다
          enum: [worthVisiting, manyComments, manySaves, manyViews]

    Notification:
      type: object
      description: 알림함 스펙 3.0.0 기준. 읽음 상태 필드는 두지 않는다.
      required: [id, type, typeLabel, targetName, createdAt]
      properties:
        id:
          type: string
          format: uuid
        type:
          type: string
          enum:
            - PIN_DUPLICATED
            - SAVE_FAILED
            - NEARBY_PLACE
            - TOP_COMMENTED_PLACE
            - ROOM_MEMBER_JOINED
            - ROOM_JOINED_SELF
          description: |
            탭 도착지 판별용. 장소 대상 3종은 장소 상세, ROOM_ 2종은 방 상세,
            SAVE_FAILED는 앱 내 저장 오류 안내 화면으로 이동한다.
          example: PIN_DUPLICATED
        typeLabel:
          type: string
          description: 6종 유형별 고정 문구. 서버가 완성해 내려준다
          example: 이미 저장해둔 곳이에요
        targetName:
          type: string
          description: 장소명 또는 공동방 이름. 저장 오류는 고정 안내
          example: 패스트리 순간
        thumbnailUrl:
          type: string
          format: uri
          nullable: true
          description: 장소 대상 유형만 값이 있다. 없으면 클라이언트가 기본 아이콘을 그린다
        createdAt:
          type: string
          format: date-time
          description: 경과 시간 표기(방금/N시간 전/N월 N일)는 클라이언트가 기기 로컬 시간대 기준으로 계산한다
        payload:
          type: object
          nullable: true
          description: |
            이동 대상 식별자. 장소 대상 3종은 placeId, 방 대상 2종은 roomId이며
            저장 오류는 null이다. 클라이언트가 type과 함께 보고 라우팅한다.
            장소 대상은 placeId까지만 담는다. 도착지 방은 그 장소의 현재 표시 기준 방이
            정한다(알림함 스펙 3.0.0 FR-022).
          properties:
            placeId:
              type: string
              format: uuid
            roomId:
              type: string
              format: uuid
